.css-qc6sy-singleValue{
  display: flex !important;
  justify-content: flex-start !important;
}

.css-14el2xx-placeholder  {
  display: flex !important;
  justify-content: flex-start !important;
}

.card-value-car .key {
  color: #3475ed;
  font-size: 15px;
}

.card-value-car .value {
  color: #fff;
  font-size: 18px;
}

.key {
  color:#a6a5b2;
  padding:5px 0;
  display: flex;
  justify-content: flex-start;
  width: 50%;
}
.value {
  color:#0b1f38;
  padding: 5px 0;
   display: flex;
  justify-content: flex-end; 
  width: 50%
}

.details {
  padding: 5px 0px;
  border-radius: 10px;
  width: 91vw;
  margin: 0 auto;
  margin-top: 40px;
}

.div-info {
  font-weight: bold;
  border-radius: 15px;
  width: 100%;
  margin: 0px auto;
}

.card {
  display: flex;
  background: #fff;
  margin: 4px auto;
  border-radius: 4px;
  padding: 5px 28px;
  width: 85%;
}

.card-value-car {
  height: 60px;
  background-color: #0b1f38;
  display: flex;
  align-items: center;
  border-radius: 5px 5px 25px 25px;
  margin-top: 20px;
}

.div-img {
  padding: 20px 0;
  width: 90%;
  height: 100%;
}
.div-img img {
  width: 100%;
}

.slider {
  margin: 0 auto !important;
}

.slick-prev, .slick-next {
  display: none !important;
}

.slick-dots  li{
display: none;
}
