body {
  background-color: #E8E9EE;
}

* {
  margin: 0px;
  padding: 0px;
}
.App {
  text-align: center;
}

.fields {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.select {
  width: 90%;
  margin: 10px 0;
}

.select:hover {
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
  width: 250px;
}

.buttons button {
  background-color: #0b1f38;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 17px;
  width: 130px;
  height: 40px;
  align-items: center;
  display: flex;
  gap: 5px;
}
.buttons img {
  height: 40px;
}

.buttons button:hover {
  cursor: pointer;
}

.image-div {
  height: 100px;
}

.image-div img {
  height: 90px;
}

.titulo {
  margin-top: 10px;
}


@media screen and (min-width:790px){ 
  .main {
    display: flex;
  }

  .fields {
    justify-content: flex-start;
    margin-top: 39px;
    width: 350px;
  }

  .buttons {
    display: flex;
    gap: 10px;
    width: 270px;
  }

  .details {
    min-width: 520px;
  }

  .card {
    padding: 5px 10px;
  }


}