body {
  background-color: #E8E9EE;
}

* {
  margin: 0px;
  padding: 0px;
}

.nav-bar {
  height: 50px;
  width: 100vw;
  font-size: 25px;
  background-color: #0b1f38;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #fff;
  gap: 5px;
}
.icon-car {
  color: #fff;
}


.App {
  text-align: center;
}

.fields {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90vw;
  margin: 0 auto;
}

.select {
  width: 100%;
  margin: 10px 0;
}

.select:hover {
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  width: 100%;
  margin-top: 15px;
}

.buttons button {
  background-color: #0b1f38;
  color: #fff;
  padding: 0 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 17px;
  width: 47%;
  height: 45px;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.buttons img {
  height: 40px;
}

.buttons button:hover {
  cursor: pointer;
}

.image-div {
  height: 100px;
}

.image-div img {
  height: 90px;
}

.titulo {
  margin-top: 10px;
}


@media screen and (min-width:768px) {
  .details {
    width: 75vw !important;
    margin: 20px auto;
  }


  .fields {
    justify-content: flex-start;
    margin-top: 20px auto;
    width: 70vw;
  }

}


@media screen and (min-width:1020px){ 

  .main {
    display: flex;
    width: 1024px;
    margin: 0px auto;
    justify-content: center;
    gap: 3%;
  }

  .fields {
    justify-content: flex-start;
    margin-top: 20px;
    width: 40%;
  }

  .buttons {
    display: flex;
    gap: 10px;
    width: 100%;
  }

  .buttons button {
    padding: 0px 10px;
  }

  .details {
    width: 40% !important;
    margin-top: 20px !important;
  }

  .card {
    padding: 5px 15px;
    width: 95%;
  }

  .div-infor {
    margin-left: 17px;
    width: 95%;
  }

}
